.formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.formulario input::placeholder {
    color: #aaa;
}

.formulario label {
  color: white;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.formulario input,
.formulario select {
  flex: 1;
  min-width: 120px;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  background-color: #2a2a3b;
  color: white;
}

.formulario input:focus,
.formulario select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}


.submitButton {
  background-color: #2d73db;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 120px;
  transition: background-color 0.3s ease;
}


.submitButton:hover {
  background-color: #3f29bb;
}


