@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
}