button {
    margin-top: 20px; /* separa del título */
    margin-left: 100px;
    padding: 10px 20px;
    background-color: #00b894; /* verde esmeralda */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #019874; /* un poco más oscuro al pasar el mouse */
}