
/* Contenedor de la lista de tarjetas */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  