/* Contenedor principal de cada tarjeta */
.item {
  background: #2a2a3b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  position: relative;
}


.item h3 {
  color: #21d07a;
  margin-bottom: 10px;
  font-size: 1.2rem;
  border-bottom: 2px solid #21d07a;
  padding-bottom: 5px;
}

.item p {
  color: #ccc;
  margin: 5px 0;
  font-size: 0.9rem;
}

.item p:last-of-type {
  font-weight: bold;
  color: #e67e22;
}


button {
  padding: 8px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:nth-child(2) {
  background-color: #646566b7;
  color: white;
}

button:nth-child(1) {
  background-color: #2d73dbc2;
  color: white;
}

button:nth-child(3) {
  background-color: #f8080098;
  color: white;
}

button:hover {
  opacity: 0.95;
  transform: scale(1.05);
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.confirmacionModal p {
  color: red !important;
}