@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #fff;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}

.headerContainer {
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}


.infHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.supHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  height: auto;
  width: 150px;
}

.mainContainer {
  width: 100%;
}