.divFiltros {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  margin: 0.5rem;
}

.divFiltros select,
.divFiltros input {
  padding: 10px 14px;
  font-size: 14px;
  margin: 5px;
  border: 1px solid #444;
  border-radius: 6px;
  width: 200px;
  background-color: #2a2a3b;
  color: #ccc;
}

.divFiltros select:focus,
.divFiltros input:focus {
  box-shadow: 0 0 6px rgba(182, 182, 182, 0.5);
  outline: none;
}
